{
    "KeyName": "ucgajhe_aws_dev_keypair",
    "SubnetId": "{{subnets.subnets[0].subnet_id}}",
    "AdditionalMasterSecurityGroups": ["emr_security_group"],
    "AdditionalSlaveSecurityGroups": ["emr_security_group"]
}